<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="false"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogToConsoleError="true" >

  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="C://file.txt" />
    <target name="asyncDbWrapperTarget" xsi:type="AsyncWrapper" queueLimit="10000" timeToSleepBetweenBatches="50" batchSize="100" overflowAction="Grow">
      <target xsi:type="Database"
              name="Logs"
              dbUserName="root"
              dbProvider="MySql.Data.MySqlClient"
              connectionString="Server=localhost;Database=logs;Uid=root;Pwd=Welcome123;"
              commandText="insert into `logs`.`logs` ( `Message`, `Level`, `DateTime`, `Timestamp`,  `UserId`, `ThreadId`) values ( @Message, @Level, @DateTime, @Timestamp, @UserId, @ThreadId);">

        <parameter name="@Message" layout="${message}" />
        <parameter name="@Level" layout="${Level}" />
        <parameter name="@DateTime" layout="${date}" />
        <parameter name="@Timestamp" layout="${date}" />
        <parameter name="@UserId" layout="${event-context:item=UserId}" />
        <parameter name="@ThreadId" layout="${event-context:item=ThreadId}" />
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="asyncDbWrapperTarget" />
  </rules>
</nlog>